
.plus-jakarta-sans-normal {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared-style */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-desciption{
    font-size: 18px;
    color: #757575;
}

.secondary-background{
    background-color: #FFF8F3;
}
/* header */
.header{
    background-image: url(../media/pexels-jessbaileydesign-1119793.jpg);
    background-repeat: no-repeat;
}

/* nav-styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right:51px ;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
    color: ;
}

/* banner-styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-titles{
    font-weight: bold;
    font-size: 85px;
}

.banner-profile-picture {
    width: 580px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about-styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top:130px ;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}